#root{

}
.left-sidebar {   
  width: 20%;
  background-color: #fff;
  border: solid black 1px;
}
#content{
  height: 100%;
  border: solid black 1px;
}
.wrapper{
  background-color: #f6f7fa;
  max-height: 3000px;
}
.InforAccountSection{
}
.title{
  font-weight: 500;
  font-size: 22px;
}
.menu-section{
  display:flex;
  flex-direction:column;
  gap:10px;
  height:100%;
  margin-top:10px;
}
.sub-title {
  text-align: end;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
  font-size: 19px;
  width: 150px;
}
.sub-title-content {
  text-align: start;
  font-weight: 450;
  color: hsl(0, 0%, 20%);
  font-size: 18px;
  margin-left: 5%;
}
.profileName {
  font-weight: 450;
  font-size: 20px;
}
.I-Item input {
  border: black 1px solid;
  border-radius: 6px;
  width: 40%;
}
.I-Item {
  width: 100%;
}
.menu-item {
  font-weight: 450;
}
.menu-item:hover {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 19px;
}
.btnChange {
  border-radius: 6px;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  text-decoration: underline;
  color: #005ec9;
}
.content__body__subTitle{
  font-size: 20px;
  font-weight: 500;
}
.content__body__title{
  display:flex;
  flex-direction:column;
  gap:2px;
  border-bottom: solid black 2px;
}
.content_body{
  height:100%;
  width: 100%;
}