.left-sidebar {
  max-width: 30%;
  background-color: #fff;
  border: solid #a9a9a9 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-height: 400px;
}
#content {
  height: 100%;
  border: solid #a9a9a9 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.wrapper {
  max-height: 3000px;
}
.title {
  font-weight: 500;
  font-size: 22px;
}
.menu-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin-top: 10px;
}
.sub-title {
  text-align: end;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
  font-size: 19px;
  width: 150px;
}
.sub-title-content {
  text-align: start;
  font-weight: 450;
  color: hsl(0, 0%, 20%);
  font-size: 18px;
  margin-left: 5%;
}
.profileName {
  font-weight: 450;
  font-size: 20px;
}
.I-Item input {
  border: black 1px solid;
  border-radius: 6px;
  width: 40%;
}
.I-Item {
  width: 100%;
}
.menu-item {
  font-weight: 450;
}
.menu-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.btnChange {
  border-radius: 6px;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  text-decoration: underline;
  color: #005ec9;
}
.content__body__subTitle {
  font-size: 16px;
  font-weight: 500;
}
.product-Title {
  font-size: 16px;
  font-weight: 550;
}
.product-OldPrice {
  font-size: 14px;
  font-weight: 500;
}
.product-Price {
  font-size: 15px;
  font-weight: 500;
}

.content__body__title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-bottom: solid black 2px;
}
.content_body {
  height: 100%;
  width: 100%;
}
.product-Price {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.product-OldPrice {
  font-size: 16px;
  font-weight: 500;
  color: #a9a9a9;
  text-decoration: line-through;
}
.numberQuantity {
  font-size: 14px;
  padding: 1px 4px;
  border-radius: 3px;
}
.subTitle_mainTitle {
  color: var(--secondary-color);
}
.maintTitle_idOrd {
  color: var(--primary-color);
}

.search-container {
  position: relative;
  width: 50%;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

#searchButton {
  position: absolute;
  padding: 10px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  right: 0;
}

#searchButton:hover {
  background-color: #4b4848;
}

/* Add this to your existing CSS file */
.menu-item.active-tab {
  color: var(--primary-color); /* Add your desired text color */
  border-radius: 5px; /* Add rounded corners if needed */
}
.btn-BuyNow {
  background-color: var(--primary-color);
}
