@font-face {
  font-family: "SF-Pro";
  src: local("SF-Pro"),
    url("../fonts/SF-Pro-Display-Black.otf") format ("truetype");
  font-weight: bold;
}
body {
}
.CustomerInformationSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customerInformation {
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.shipping-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: #000 solid 1px;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 19px;
  color: #000;
  margin: 20px 0px 20px 20px;
}

.form-control {
  font-size: 14px;
  color: #000;
  padding: 8px 14px;
  width: 220px;
  border-radius: 4px;
}
#email,
#address {
  width: 100%;
}

#fullName,
#phone {
  width: 100%;
}
