@font-face {
    font-family: 'Roboto Viet';
    src: url('../fonts/Roboto-Black.ttf') format('ttf');
    /* Add additional font formats here if needed */
    font-weight: normal;
    font-style: normal;
  }
:root{ 
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cf830381dfc55af02a0186b8d0852ca2e5b7a295
  --color-body-bg: #ECECEC;
}

/* Header*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: black;
  width: 100%;
  height: 64px;
  color: white;
  align-items: center;
}
.header_logo {
  width: 10%;
}
.navbar {
  max-width: 50%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  line-height: 64px;
}

.dropdown {
  float: left;
  overflow: hidden;
  height: 64px;
}

.dropdown-content > a {
  color: #000 !important;
}
.dropDownItem{
  width: 216px;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 64px;
}
.dropbtn > i {
  margin-left: 4px;
  width: 20px;
  vertical-align: right;
  fill: currentColor;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.category_container > .category_item {
  color: #000;
}

.dropdown-content .dropdown-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
}
.dropdown-item > svg {
  width: 20px;
  vertical-align: right;
  fill: currentColor;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 20px;
  line-height: 56px;
}
.nav_item:active {
  color: black;
  background-color: #ffffff;
}
.header_right_section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 52px;
  max-width: 30%;
}
.header_searching_module {
  display: flex;
  width: 13%;

}
.header_searching_module > .wrap {
  width: 100%;
}
.header_user_module {
}
.user_module_login {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
  height: 40px;
  width: 64px;
  background-color: #292626;
  color: white;
  opacity: 70%;
  border-radius: 10px;
  font-size: 12px;
}
.user_module_login:hover {
  opacity: 100%;
}
.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 8px 0 8px;
  height: 40px;
  max-width: 100px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align:left;
}

.boxIcon{ 
  font-size: 20px;
}

/* Searching Bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  display: flex;
}
.search svg { 
  color:black
}

.searchTerm {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  height: 36px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Container Content */
.container_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.dropDownItem{ 
  width: 216;
<<<<<<< HEAD
>>>>>>> 4d72f579d0da82d2ea58f16fcf48cf514b99e118
=======
=======
>>>>>>> d41284d94d63dd98856c2c8e2e05f4c90e7e900c
>>>>>>> cf830381dfc55af02a0186b8d0852ca2e5b7a295
}
