@font-face {
  font-family: "Roboto Viet";
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  /* Add additional font formats here if needed */
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-body-bg: ##f6f7fa;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  background: #212529;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5%;
  font-family: var(--primary-font);
  font-weight: 600;
  width: 100px;
}
.btn-BuyNow {
  background-color: var(--primary-color);
}

/* Header*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: black;
  width: 100%;
  height: 64px;
  color: white;
  align-items: center;
}
.header_logo {
  width: 10%;
}
.btn:hover {
  opacity: 0.8;
  color: white;
}
.navbar {
  max-width: 50%;
  margin-right: 20px;
}
.menu-item {
  text-align: left;
}
.category-item .brand-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1;
  color: #000 !important;
  width: 200px;
  min-height: 385px;
}

.category-item {
  display: flex;
  width: 100%;
  height: 64px;
}
.category-item > svg {
  width: 20px;
}
.category-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.category-link span {
  overflow: hidden;
  max-width: 260px;
  height: 100%;
}
.category-icon {
  position: absolute;
  right: 3px;
}
.category-item:hover .brand-menu {
  display: flex;
  flex-direction: column;
}
.brand-link {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  line-height: 64px;
}

.dropdown {
  position: relative;
  height: 64px;
  max-width: 260px;
}
.dropdown a {
  color: black;
}
.dropdown-btn-container {
  height: 64px;
}
.dropdown-content > a {
  color: #000 !important;
  width: 100%;
}
.dropDownItem {
  width: 300px;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 4px 8px;
  background-color: inherit;
  font-family: inherit;
  height: 100%;
}
.dropbtn a {
  color: white;
  padding: 0 10px;
}
.dropbtn > i {
  margin-left: 4px;
  width: 20px;
  vertical-align: right;
  fill: currentColor;
}
.dropdown:hover .dropbtn {
  background-color: #aeaeae;
  color:#000
  ;
}

.dropdown-content,
.dropdown-content2 {
  display: none;
  position: absolute;
  left: 0;
  top: 64px;
  background-color: #f9f9f9;
  width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  max-height: fit-content;
  z-index: 1;
}
.category_container > .category_item {
  color: #000;
  width: 246px;
}

.dropdown-content .dropdown-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
}
.dropdown-item > svg {
  width: 20px;
  vertical-align: right;
  fill: currentColor;
}

.category-item:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav_Item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 20px;
  line-height: 56px;
}
.nav_Item p {
  width: 100px;
  height: 64px;
}
.nav_item:active {
  color: black;
  background-color: #ffffff;
}
.header_right_section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 52px;
  max-width: 40%;
}
.oldPrice {
  text-decoration: line-through;
  color: #9e9e9e;
}
.header_searching_module {
  display: flex;
  width: 100%;
}
.header_searching_module > .wrap {
  width: 100%;
}

.searching-result-item-img img {
  max-width: 40px;
  max-height: 40px;
}
.searching-result-item-info {
  color: #000;
  font-weight: 500;
}
.searching-result-item-info-name {
  font-size: small;
}
.searching-result-item-info-name:hover {
  color: var(--primary-color);
}
.searching-result-item-info-price {
  font-size: small;
  color: var(--primary-color);
}
.slideshow-container {
  display: none;
}

.user_module_login {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  height: 44px;
  background-color: #292626;
  color: white;
  opacity: 70%;
  border-radius: 10px;
  font-size: 12px;
}
.user_module_login:hover {
  opacity: 100%;
}
.user_module_login:hover .LoginOption {
  display: flex !important;
}
.navItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 8px 0 8px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: left;
}
.navItem > p {
  width: 80px;
}
.boxIcon {
  font-size: 20px;
}

/* Searching Bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  display: flex;
}
.search svg {
  color: black;
}

.searchTerm {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  height: 36px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Container Content */
.container_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.dropDownItem,
.dropDownItem2 {
  width: 216;
}

/* Footer Section */

.footerSection h1 {
  font-size: large;
  font-style: bold;
  font-weight: 600;
}
.footerSection p {
  font-size: 16px;
  font-style: normal;
}
.footerSection img {
  width: 80px;
}

.phoneNumber {
  font-weight: 500;
  color: cornflowerblue;
}
.logOutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 4px;
  height: 44px;
  color: white;
  opacity: 70%;
  border-radius: 10px;
  font-size: 12px;
}
.number-counter {
  position: absolute;
  left: 16px;
  top: -8px;
  display: flex;
  background-color: coral;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}
.SloganItem {
  border: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.sort-dropdown button {
  width: 200px;
  padding: 2px 1px;
  border: none;
}
.sort-dropdown button:hover {
  background-color: #ddd;
}
.btnFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border: solid #ddd 1px;
  border-radius: 4px;
  font-size: small;
  gap: 2px;
  width: 200px;
}

.navBar-mobile {
  display: none;
}
.slideshow-container {
  height: 240px;
  margin: auto;
}
.slide-item {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.slideImg {
  display: block;
}

.subTitle_mainTitle {
  font-weight: 550;
}
.LoginOption {
  display: none;
}
.shipping-form{
  display: block;
  overflow: auto;
}