@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "lato-light";
  src: url("../public/fonts/Lato\ Light.ttf")
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
html, body, #app, #app>div {
  height: 100%
}
body > #root{
  height: 100vh;
}